* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

html {
    font-size: 13px;
}

body {
    font-family: 'LATO', sans-serif;
    background-color: #f5f5f5;
    color: black;
    min-height: 100vh;
}

.main-wrapper {
	width: 90%;
    max-width: 150rem;
    margin: 1.25rem auto;
	display: grid;
	grid-template-columns: 1fr 4fr;
    grid-template-areas: "inbox board";
	gap: 2rem;
}
.inbox {
	grid-area: inbox;
	border: black 1px solid;
	padding: 0.625rem;
}
.board {
	grid-area: board;
	border: black 1px solid;
	display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.625rem;
    padding: 0.625rem;
}
.column {
	border: black 1px solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	min-height: 85vh;
}
.task-card {
	border: black 1px solid;
	border-radius: 0.3125rem;
	margin: 0.625rem;
	padding: 0.625rem;
	background-color: white;
	cursor: grab;
	height: 8rem;
	width: 100%;

}